.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    width: 40rem;
    text-align: right;
}
.chartTitle{
    margin-bottom: 20px;
}
.fixed{
    background-color: blue;
}